p, .BookNow{
    color: white;
}

.dateBtn{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.Btn{
    border-color: #f1ee39;
    color: #f1ee39;
    background-color: black;
    padding: 10px;
    text-align: center;
    width: 100px;

    border-radius: 10px;
}
.Btn:hover{
    background-color: #f1ee39;
    color: black;
    cursor: pointer;
}
form{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 70%;

    margin: auto;
}

form input{
    width: 80%;
    padding: 10px;
    background-color: rgba(94, 92, 92, 0.947);
    color: #f1ee39;
    border-bottom: solid 2px  #f1ee39 ;
}