.theater {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.screen-exit{
  display: flex;
  justify-content: space-around;
  width: 80%;
}
.exit{
  background-color: #ccc ;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
}
.screen {
  width: 70%;
  height: 50px;
  background-color: #ccc;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seating {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.seatingSet{
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 100px;
}
.entry{
  background-color: #ccc ;
  height: 300px;
  width: 190px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.club, .prime, .executive{
  color: #4caf50;
  font-size: 25px;
  margin-top: 50px;
  margin-bottom: -70px;
}
.col1, .col2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.seat {
  width: 30px;
  height: 30px;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  cursor: pointer;
  font-size: 12px;
}

.seat.selected {
  background-color: #4caf50;
  color: white;
}

.info {
  margin-top: 20px;
}
