@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.navbar {
  width: 100%;
  padding: 20px 6%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  font-size: 14px;
  color: #e5e5e5;
  background-image: linear-gradient(180deg, rgba(0,0,0,0.7) 10%, transparent);
  z-index: 1;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: -100px;
  gap: 170px;
}

.site-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  color: #FFFF00;
}

.navbar-left img{
  width: 90px;
}

.navbar-left ul {
  width: fit-content;
  display: flex;
  list-style: none;
  font-size: 17px;
  gap: 100px;
}

.navbar-left ul li{
  cursor: pointer;
  font-weight: 400;
  width: fit-content;
}

.navbar-left ul li:hover {
  color: #FFFF00;
}

.navbar-right {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: 45%;
  margin-top: -0.5%;
}

.navbar-right .profile{
  border-radius: 4px;
  width: 35px;
}

.navbar-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

/* .dropdown{
  position: absolute;
  top: 100%;
  right: 0;
  width: max-content;
  background:#191919;
  padding: 18px 22px;
  border-radius: 2px;
  text-decoration: underline;
  z-index: 1;
  display: none;
}

.dropdown p{
  font-size: 13px;
  cursor: pointer;
}

.navbar-profile:hover .dropdown {
  display: block;
/* } */

.Btn-login{
    border: 0;
    outline: 0;
    padding: 8px 20px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    font-weight: 500;
    background: #FFFF00;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 100%;
} 

.selector {
  position: relative;
  display: inline-block;
  margin-left: 2%;
}

.selector .select img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  border: solid 1px #FFFF00;
}

.select-item {
  display: none;
  position: absolute;
  width: 125px;
  height: 52px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
  font-family: "Poppins", system-ui;
  font-weight: 400;
  font-style: normal;
}

.selected-item {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 15px;
  cursor: pointer;
  font-size: 15px;
  color: #FFFF00;
  border-radius: 2px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.144);
  background: rgba(0, 0, 0, 0.89);
  z-index: 20;
  position: relative;
  overflow: hidden;
}

.selected-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFF00;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s cubic-bezier(1.000, 0.000, 0.000, 1.000);
}

.selected-item:hover::before {
  transform: scaleX(1);
}

.selected-item:hover {
  color: black;
  border-bottom: none;
}

/* Media Queries */
@media (max-width: 1024px) {
  .navbar-left {
    gap: 50px;
    padding: 10px;
  }

  .site-title{
    font-size: 20px;
    margin-left: 8%;
  }

  .navbar-left ul {
    gap: 60px;
    font-size: 15px;
    width: 450px;
    font-size: 20px;
  }

  .navbar-left ul li{
    width: fit-content;
  }

  .Btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin-left: 2%;
    height: 40px;
    width: 90px;
  }

  .navbar-right {
    margin-left: auto;
  }

  .site-title {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .navbar {
    padding: 10px 4%;
  }

  .navbar-left {
    align-items: flex-start;
    gap: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .site-title {
    font-size: 20px;
    margin-left: 15%;
  }

  .navbar-left ul {
    gap: 10px;
    font-size: 14px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-right {
    margin-left: 0;
    flex-direction: column;
    gap: 10px;
  }

  .site-title {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  .navbar {
    padding: 8px 3%;
  }

  .site-title {
    font-size: 20px;
    padding: 2%;
    margin-left: 180%;
  }

  .navbar-left ul {
    /* gap: 5px;
    font-size: 13px; */
    display: none;
  }

  .Btn-login{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    margin-left: 2%;
    margin-top: 13.5%;
    height: 30px;
    width: 70px;
  }

  .selector .select img {
    width: 35px;
    height: 35px;
    margin-top: 20%;
  }

  .select-item{
    display: none;
    position: absolute;
    width: 80px;
    margin-left: -112%;
  }
}
