.player{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back_arrow{
    position: absolute;
    top: 100px;
    left: 20px;
    width: 50px;
    cursor: pointer;
}

.player iframe{
    border-radius: 10px;
}